* {
    box-sizing: border-box;
    }	
    body {
      max-width: 100%;
      margin: 0%;
      font-family: Arial, sans-serif;
    }
    
    main {
      background-color:white;
    }
    
    .material-symbols-outlined {
      color: #5c5c5c;
      font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' 0,
      'opsz' 48
    }
    
    .navbar {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      margin: 0; 
      background-color:#f0fffe;
      box-shadow: 0px 2px 2px 0px#B6B6B6;   
    }
    
    .nav {
      display: flex;
      justify-content:space-between;
    }
    
    .nav a {
      float: left;
      color: black;
      text-align: center;
      padding: 1px 18px;
      text-decoration: none;
      font-size: 16px;
    }
    
    .logonav {
      position: relative;
    }
    
    .logonav img {
        border-radius:50%;
        width: 37px;
        height: 34px;
        margin: -20%;   
    }
    
    .nav a {
      padding: 20px 50px 15px 50px;
    }
    
    .nav a:hover {
      background-color: #ddd;
    }
    
    .nav a:visited {
      background-color: #ddd;
    }
    
    .nav .search-container{
      float: right; 
    }
    
    .nav input[type=text] {
      padding: 5px;
      margin-top: 16px;
      font-size: 15px;
      border-style: solid;
      border-width: thin;
      border-color: #B6B6B6;
    }
    
    @media screen and (max-width: 600px) {
      .nav a, .nav input[type=text], .nav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
    
      .nav input[type=text] {
        border: 1px solid #ccc;  
      }
    }
    
    .dropbtn {
      background-color: #F4FFFE;
      border: none;
      margin: 0;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      top: 90%;
      background-color: #150F2F;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: -1;
    }
    
    .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: justify;
      z-index: 1;
      
    }
    
    .dropdown-content a:hover {
      background-color: #f1f1f1;
      color: black;
    }
    
    .dropdown:hover .dropdown-content {
      display: flex;
      flex-direction: column;
    }
    
    
    .welcomesection {
      height: 680px;
    }
    
    #welcome {
      font-size: 22px;
        padding-bottom: 1%; 
        width: fit-content;
        margin-top: 130px;
        margin-left: 150px;  
    }
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 1120px;
      max-height: 450px;
      position: relative;
      margin: -40px 120px 10px 120px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      display: flex;
    }
    
    .content-container {
      display: flex;
      flex-direction: row-reverse;
      width: 1120px;
      height: 450px;
    }
    
    .imgcontainer {
      width: 60%;
      height: 100%;
    }
    
    .imgcontainer img {
      width: 100%;
      height: 100%;
    }
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: black;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color:black;
    }
    
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 25px 2px;
      background-color: #bbb; 
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #affaff;
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    .seminar-details {
      position: relative;
      text-align:start;
      width: fit-content;
      height: 100%;
      padding: 5%;
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }
    
    .form-container {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 3; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      padding-top: 60px;  
    } 
    
    form {
      width: 500px;
      margin: auto;
<<<<<<< HEAD
      background-color: white;
=======
      margin-bottom: 20px;
      background-color: red;
>>>>>>> 50b7780e975d86aae6595ff6d16db8494d1f9122
      padding: 20px;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    }
    
    #registerhere {
      color:white;
      text-align: center;
      font-size: 40px;
      font-weight: 500px;
      background-color:#150F2F;
      padding: 10%;
      margin: -20px -20px 0px;
    }
    
    label {
      display: block;
      margin-bottom: 20px;
      font-weight: 600;
    }
    
    input[type=text], input[type=email], select {
      width: 100%;
      padding: 8px;
      border: 1px solid rgb(83, 83, 83);
      margin-bottom: 20px;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      background-color:blue;
      color:white;
      padding: 10px 20px;
      border: black;
      border-radius: 20px;
      cursor: pointer;
      padding-bottom: 10px;
      position: relative;
    }
    
    input[type=submit]:hover {
      background-color: white;
    }
    
    .caption {
      position: center;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2);
      color: black;
      padding: 10px;
      font-size: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) ;
      width: 100%; /* set the width to 100% */
      height: 70%; /* set the height to 100% */
    }
    
    #register {
      position: relative;
      top: 380px;
      left: 12.5%;
      background-color:#FFFBA1;
      border-radius: 25px;
      border: none;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      padding: 15px 35px;
      cursor: pointer;
      z-index: 1;
    }
    
    .btns [type="submit"], [type="button"] {
      background-color:#FFFBA1;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      color: rgb(0, 0, 0);
      padding: 10px 30px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .btns [type="button"] {
      background-color:red;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      color: rgb(0, 0, 0);
      padding: 10px 30px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .btns {
      display: flex;
      margin-top: 5%;
    }
    
    .cancelbtn {
      position: relative;
      left: 250%
    }
    .hidden {
        display: none;
    }
    
    #thankYouMsg {
        position: relative;
        margin: auto;
    }
    
    #learning-content-carousel {
      background-color: #150F2F;
    }
    
    .carousel-title {
      color: white;
      margin-left: 120px;
      padding-top: 40px;
      width: fit-content;
      font-size: 25px;
    }
    
    .center {
         align-items: center;
         display: flex;
         flex-direction: column;
         height: 100%;
         justify-content: center;
    
    }
     .wrapper {
         display: flex;
         grid-gap: 1em;
         overflow: hidden;
         width: 75em;
       
    }
     .wrapper > .inner {
         display: flex;
         grid-gap: 2em;
         transition: all 1s ease-in-out;
       height: fit-content;
    }
     .card {
         border-radius: 0.5em;
         box-shadow: 0px 0px 4px rgba(218, 218, 218, 0.5);
       width: 300px;
       height: fit-content;
       margin-top: 4rem;
       
    }
     .card > iframe {
         border-top-right-radius: inherit;
         border-top-left-radius: inherit;
         display: block;
         width: 300px;
    }
     .card > .content {
         background: white;
         border-bottom-left-radius: inherit;
         border-bottom-right-radius: inherit;
         padding: 1em;
         text-align:left;
       height: 200px;
    }
    
     .card > .content > h1, .card > .content > p {
         margin: 0.35rem 0;
    }
     .card > .content > h1 {
         color: black;
         font-size: 1.25rem;
         line-height: 1;
    }
     .card > .content > p {
         color: black;
         font-size: 0.9rem;
         font-weight: 300;
    }
    
    /* Next & previous buttons for learning content carousel */
    .prev02, .next02 {
      cursor: pointer;
      position: absolute;
      top: 60;
      width: auto;
      padding: 17px;
      margin-top: -17px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next02 {
      right: 20px;
    }
    
    .prev02 {
      left: 20px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev02:hover, .next02:hover {
      background-color:#f0fffe;
      color: #150F2F;
    }
    
     .map {
         margin-top: 1em;
    }
     
    body > footer {
      position: sticky;
      top: 100vh;
    }
    
    footer {
      background-color: #150F2F;
      padding: 2rem;
      color: white;
      padding: 2rem;
      display: flex;
      height: 20%;
      border-top: white;  
    }
    
    .youngcapabletag  {
      flex-grow: 17;
      text-align: left;
      margin-top: 1%;
      font-size: 20px;  
    }
        
    .socials {
        flex-direction: column;
        flex-grow: 1;
        margin-top: 1.5% 
    }
    
    .socials a {
        margin: 1%;
    }
    
    
    
    .search-container {
      position: relative;
    }
    
    label {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }


    
    