header  {
  display: flex;
  flex-direction: row;
  flex: auto;
  background-image: url("Media/girl-wit-neon-sunglasses.jpg");    
  background-attachment: scroll;
  background-size:cover;
  padding: 3% 3% 3% 3%;
  position: absolute;
  left: -0.025%;
  right: -0.025%;
  top: 0%;
  bottom: -26.48%;  
}

header .logo { 
  flex: 2;
  z-index: 1;  
  margin-bottom: 150%;
}


header .nav {
  background-color: black;
  display: flex;
  flex: 4;
  font-weight: 700;
  font-size: 25px;
  font-family: 'Courier New', monospace;
  line-height: 15px;
  text-transform: uppercase;
  z-index: 1;  
  justify-content: space-evenly;
  margin-top: 1%;
  margin-bottom: 200%; 
    
}

header .nav a {
  margin-left:1%;
  margin-right: 1%;
  text-decoration: none;
  color: white;
}